-if(song.songName)
    div
      a(href="/play?url=" + song.songUrl)=song.songName 
      span by       
      a(href=song.artistUrl)=song.artistName
      span from
      a(href=song.albumUrl)=song.albumName      
      //img(src=  song.thumbnail)

-else if (song.albumName)
    div
        a(href=song.albumUrl)=song.albumName
        span by
        a(href=song.artistUrl)=song.artistName
        
-else
    div
        a(href=song.artistUrl)=song.artistName

